<h1>Now, select your Partypixer Avatar</h1>

<h2>My Partypixer Profile</h2>
avatar : <%= cl_image_tag @user.avatar, height: 150, width: 150, crop: :fill %>
<p>Nickname : <%= @user.nickname %> </p>
<p>First Name : <%= @user.first_name %></p>
<p>Last Name : <%= @user.last_name %></p>

