<div class="container">

  <div class="col-xs-10 col-xs-offset-1 text-center">
    <% if @room.memberships.any? %>
      <h2><br>Add new friends to your room</h2>
    <% else %>
      <br>
      <strong>2/2</strong>
      <h2>invite friends to your room</h2>
    <% end %>
  </div>

  <div class="col-xs-10 col-xs-offset-1 row">
    <br>
  </div>

  <div class="row text-center">

    <div class="col-xs-10 col-xs-offset-1">

    <%= form_tag room_memberships_path do %>
      <%= select_tag "contributors_ids[]", options_from_collection_for_select(@users, :id, :email), class: 'select2 (placeholder: "Select friends")', multiple:'' %>
      <div class="row">
        <br>
        <%= submit_tag 'Invite', class: "btn btn-major" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
