// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Over-write on the bootstrap:
// $blue: #5ED9FF;
// $yellow: #FEFF69;
// $dark-gray: #242321;
$light-gray: #828282;
$orange: #fc4a1a;
$yellow-range: #f7b733;

//test-pierre:
$blue: #00C6FB;
$yellow: #005BEA; // the other main blue
$dark-gray: white;
$pink: #DB3A34;


// // Test Colors:
// $night-light: #2980b9;
// $night-dark: #2980b9;

// $blue-light: #2BC0E4;
// $blue-sea: #70e1f5;
// $sand: #ffd194;


// $green-light: #11FFBD;
// $blue-diamond: #12FFF7;

// $red-fire: #FF4E50;
// $fire: #F9D423;

// $yellow-energy: #FFE259;
// $yellow-light: #F3F9A7;

// $blue-reef: #00d2ff;
// $dark-reef: #3a7bd5;

// $rainbow-blue: #0575E6;
// $rainbow-green: #00F260;
