h1 {
  color: $dark-gray;
  font-size: 7vw;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  color: $dark-gray;
  font-size: 7vw;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-shadow: 3px 3px 0px rgba($pink, 1);
  font-style: normal;
  text-transform: uppercase;
  word-wrap: break-word;
}

h3 {
  color: white;
  font-size: 4vw;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  font-weight: none;
  font-style: normal;
  text-transform: uppercase;
}

.no-padding{
  padding: 0;
}
