h1 {
  color: $dark-gray;
  font-size: 7vw;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

h2 {
  color: $dark-gray;
  font-size: 7vw;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(242, 242, 242, 0.7);
  font-style: normal;
  text-transform: uppercase;
  word-wrap: break-word;
}

h3 {
  color: $light-gray;
  font-size: 4vw;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 0;
  font-weight: none;
  font-style: normal;
  text-transform: uppercase;
}

.no-padding{
  padding: 0;
}
