.background_black {
  background: black;
  min-height: calc(100vh-70px);
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-item.original-picture {
  flex: grow;
}

a.nav-item.glyphicon{
  height: 100%;
  padding: 100px 0;
  color: white;
  text-decoration: none;
}

// sous les picture
.flex-picture {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.bord-arrondi {
  border-radius: 50%;
  border: 1px solid $blue;
  height: 100px;
  width: 100px;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// vote

.votes {
  font-color: white;
}

.bord-arrondi p {
  color: white;
  margin-bottom: 0;
}

.bord-arrondi svg {
  font-size: 30px;
}

.btn-success {
  border-radius: 20px;
  margin-bottom: 5px;
  bottom: 0px;
  right: 10px;
  position: absolute;
}
// upvote
.voted {
  color: white;
  margin-right: 10px;
}
// downvote
.unvoted {
  color: rgba(255, 255, 255, 0.3);
  margin-right: 10px;
}


// Go back to the room
.back-page a {
  color: $light-gray;
  font-size: 24px;
}

.back-page a:hover {
  color: $blue;
}
