.room-show {
  padding-bottom: 70px;
}

.contributors-container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.contributors-element {
  margin-left: 5px;
}
