<div class="text-center">
  <h1>Add your pictures!</h1>

  <%= simple_form_for [@room, @picture] do |f| %>
    <%= f.input :photo, label: "Select your pictures!", input_html: {multiple: true, name: "photos[]"} %>
    <%= f.input :photo_cache, as: :hidden%>
    <%= f.submit 'Add', class: "btn btn-minor" %>
  <% end %>
</div>
