<div class="text-center">
  <br>
  <h2>UPDATE YOUR ROOM !</h2>
  <br>

    <%= simple_form_for (@room) do |f| %>
      <%= f.input :name %>
      <%= f.input :date %>
      <%= f.submit "Update", class: "btn btn-major" %>
    <% end %>
</div>
