<div class="background_rainbow">
  <h1>This is my rooms </h1>

  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
  </ul>

  <%= link_to "Create a new room", new_room_path, class: "footer-links" do %>
    <%= image_tag "rounded-add-button.png", height: 35 %>
  <% end %>
</div>


