<div class="background_rainbow">
<h1>those are my rooms! </h1>

<%= link_to "create a new room", new_room_path, class: "btn btn-primary btn-major" %>

<ul>
  <% @rooms.each do |room| %>
    <li><%= link_to room.name, room_path(room) %></li>
  <% end %>
</ul>
</div>
