<div class="background_rainbow">

  <div class="container">

    <div class="row">

        <div class="col-xs-12">
          <div class="year">2018</div>

        <% @rooms.each do |room| %>

            <div class="flat-card">

              <div class="description">
                <div class= "title"><%= room.name %></div>
                <div class= "date"><%= room.date %></div>
              </div>

              <div class="picture">
                  <img src="http://unsplash.it/212/118" alt="">
              </div>
              <%= link_to "", room_path(room), class: "flat-card-link" %>
            </div>
        <% end %>
      </div>

    </div>

  </div>

</div>
