<div class="background_rainbow">
  <h1>This is my rooms </h1>

  <ul>
    <% @rooms.each do |room| %>
      <li><%= link_to room.name, room_path(room) %></li>
    <% end %>
  </ul>


  <div class="create-links block-center">
    <%= link_to new_room_path, class: "" do %>
      <%= image_tag "rounded-add-button.svg", class: "create-icon" %>
      CREATE A ROOM
    <% end %>
  </div>
</div>


