<h1>this is my room</h1>
<p><strong>ready to upload some pix ?</strong></p>
# TODO : link-to upload pic from mobile
<br><br>
<p>Room creator : <%= @room.user.email %></p>
<p>Room name : <%= @room.name %></p>
<p>Date of the Event : <%= @room.date %> </p>
<p>Contributors to the room :
  <% @room.users.each do |user| %>
    <ul>
      <li><%= user.email %></li>
    </ul>
  <% end %>

</p>
