.avatar {
  height: 88px;
  width: 88px;
  border-radius: 50%;
}

.avatar-small {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
}

.avatar-small-creator {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: $pink 2px solid;
}

.avatar-default {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  border: $blue 3px solid;
}
