.avatar {
  height: 88px;
  width: 88px;
  border-radius: 50%;
}

.avatar-small {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
}

.avatar-small-creator {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: $blue 1px solid;
}

.avatar-default {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  border: $blue 3px solid;
}
