.top10card {
  position: relative;
}

.vote {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-style: bold;
  color: $blue;
  border-radius: 0%;
  background-color: $dark-gray;
  background-size: 10 10 10 10;
}


.cards {
  max-width: 960px;
  margin: 0 auto 10px;
}


.card {
  padding: 10px;
  height: 200px;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

// .picture-card{
//   height: 200px;
//   background-repeat: no-repeat;
// }
