.top10card-container {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top10card {
  height: 50px;
  width: 50px;
  margin-bottom: 30px;
  margin-left: 10px;
}


.cards-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-top:10px;
  height: 160px;
  width: 160px;
  margin-left: 7px;
  object-fit: cover;

  // position: relative;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // display: -ms-flexbox;
  // display: -webkit-flex;
  // -ms-flex-align: center;
  // -webkit-align-items: center;
  // -webkit-box-align: center;
  // align-items: center;
}


.vote {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-style: bold;
  color: $blue;
  border-radius: 0%;
  background-color: $dark-gray;
  background-size: 10 10 10 10;
}

// .picture-card{
//   height: 200px;
//   background-repeat: no-repeat;
// }

