.cards-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-top:7px;
  height: 160px;
  width: 160px;
  margin-left: 7px;
  object-fit: cover;
  border-radius: 3px;
  transition: all 0.5s ease;
}

.card:hover {
  transform:scale(1.03);
}

.top10-card {
  position: relative;
}

.votes-container {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 10px;
  background-color: rgba(white, 0.8);
  display: flex;
  color: $light-gray;
  border-radius: 1px;
}

.votes-item {
  margin: 1px;
  font-weight: bold;
  border-radius: 0%;
  border-radius: 5px;
  font-size: 10px;
}

.votes-item-icon {
  margin: 2px;
  border-radius: 0%;
  border-radius: 5px;
  font-size: 10px;
}

// .votes-item-icon {
//     width: 0;
//     height: 0;
//     border-top: 60px solid rgba(yellow, 0.7);
//     border-right: 60px solid transparent;
// }
