.flat-card {
  height: 125px;
  padding: 8px;
  margin-top: 5px;
  position: relative;
  display: flex;
}

.flat-card .description .title {

  z-index: 1;
  font: $body-font;
  color: $dark-gray;
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: 1;
  text-shadow: 3px 3px 0px rgba($pink, 1);
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
}

.flat-card .picture {
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 2px 2px 0px rgba(119, 97, 97, 0.3);
  border-radius: 0px;
}

.flat-card .picture img {
  width: 200px;
  border-radius: 0px;
  box-shadow: 7px 7px 0px rgba(white, 0.8);
}

.flat-card .picture-default {
  border: $dark-gray 1px solid;
  width: 200px;
  height: 110px;
 }

.flat-card .description {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
}

.flat-card .description .date {
  font: $body-font;
  font-weight: lighter;
  font-size: 18px;
  margin-left: 0px;
  margin-top: 10px;
  color: white;
  font-size: 12pt;
}

.flat-card .description .data-container {
  margin-top: 4px;
  margin-left: -5px;
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.flat-card .description .data-container .data-element {
    color: $dark-gray;
}

.flat-card .description .data-container .data-element-icon {
  color: rgba(white, 0.6);
}

.flat-card .description .data-container .data-element-number {
  color: $dark-gray;
  font-size: 12pt;
  font-weight: bolder;
  padding-left: 5px;
  text-shadow: 2px 2px 0px rgba($pink, 1);
}

.flat-card .link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.flat-card .link:hover {
  opacity: 0.1;
}
