.flat-card {
  height: 140px;
  padding: 8px;
  margin: 5px auto;
  position: relative;
  display: flex;
}




.flat-card .description .title {

  z-index: 1;
  font: $body-font;
  color: $dark-gray;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  line-height: 1;
  text-shadow: 3px 2px 0px rgba(242, 242, 242, 0.7);
  text-transform: uppercase;
  display: block;
}

.flat-card .picture {
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 2px 2px 0px rgba(119, 97, 97, 0.3);
}

.flat-card .picture img {
  width: 200px;
  border-radius: 5px;
}

.flat-card .picture-default {
  border: $blue 1px solid;
  width: 200px;
  height: 110px;
 }

.flat-card .description {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 10px;
}

.flat-card .description .date {
  font: $body-font;
  font-size: 18px;
  margin-left: 5px;
}

.flat-card .description .data-container {
  margin-top: 5px;
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.flat-card .description .data-container .data-element {
    color: $dark-gray;
}

.flat-card .description .data-container .data-element i {
  color: $light-gray;

}

.flat-card .link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.flat-card .link:hover {
  opacity: 0.1;
}
